<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="{{width}}" height="{{height}}"
>

<style>
/* .feed {fill:#54a9a3} */
.day-shade {fill: #f4f2e9}
text {font-size: 15; font-family: "Georgia"}
</style>


{% for entry in rows %}
<path class="feed" d="{{entry.path}}" fill="none" stroke="#446688" stroke-width="30"/>
{% endfor %}

</svg>
